
body {
    font-family: Calibri, Arial;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
    background: rgb(44,44,44);
    background: linear-gradient(140deg, rgba(44,44,44,1) 10%, rgba(66,66,66,1) 30%, rgba(128,128,128,1) 80%);
}


nav {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
}
  
nav:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav a:hover {
    color: cyan;
    
}


section {
    background: rgb(245,245,220);
    background: linear-gradient(0deg, rgba(245,245,220,1) 20%, rgba(157,193,131,1) 80%);
    height: 100vh; 
    box-shadow: 2px 6px 10px rgba(245, 245, 220, 0.4);
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0; 
    transform: translateY(30px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#home {
    font-size: large;
    display: flex;
}

#greeting {
    font-size: 3rem;
}

#toc {
     margin: 200px 50px 200px;
     display: flex;
}

#prm {
    margin: 200px 50px 200px;
}

#outline {
    margin: 200px 50px 200px;
}

.pdfcontent {
   height: 500px;
   width: 80%;
   margin: auto; 
}

.mutton{
    background-color: beige;
    margin: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mutton:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#response {
    margin: 200px 50px 200px;

}

#draft {
    margin: 200px 50px 200px;
    text-align: left;
    padding: 20px;
    overflow-y: auto;
}

.format {
    text-align: justify;
    line-height: 2rem;
}

#sources {
    margin: 200px 50px 200px;
    padding: 50px;
    text-align: left;
}

#output {
    margin: 200px 50px 200px;
}

#reflection {
    margin: 200px 50px 0;

}

section.show {
    opacity: 1;
    transform: translateY(0);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack navigation links */
    }

    nav a {
        margin: 5px 0; /* Adjust spacing between links */
    }

    section {
        padding: 80px 15px;
    }

    iframe {
        height: 200px; /* Adjust iframe height for small screens */
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    iframe {
        height: 200px; /* Smaller height for very small devices */
    }
}